.bonsaiSegment{
     float:inline-start;  width: 80%; padding: 2%;
     display: block;
    
}

.quantity {
    margin-right: 10%;
}


.contenedor{
    display:block;
    height: 75vh;
}


.imagenB{
    float: left;
    display: block;
    margin: 2%;

    opacity: 93%;


}

.icons{
  margin-left: 3%;
  float: right;
  cursor: pointer;
  margin-bottom: 20px;  
}


.imagenB:hover{
    opacity: 78%;
}
.imagenB,
.bonsaiSegment{
    
background-color: #dd85dd;
box-shadow: 5px 10px #da4fda;
display: inline-block;

border-radius: 6px;
transition: 0.3s all;

}
.bonsaiSegment:hover{
    background-color: #eb17eb;
}

.agregarBonsai{
padding:1%;
width: 35%;
background-color: #da4fda;
}
.buttonBonsai{
  width: 100%;
  background-color: #da4fda;
  font-size: 20px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 10%;
  color: rgb(255, 255, 255);
}


.navFont{
    font-family: 'Roboto', sans-serif;
    color: #478ac9;
    font-size: medium;
  }
  .infoFont{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.925);
    font-size: medium;
  }

  .nameFont{
    font-family: 'Roboto', sans-serif;
    color: rgba(77, 39, 19, 0.966);
    font-size: large;
  }

  .bonsaiInformation{
    width:100%;
padding: 1%;

border-color: rgb(0, 0, 0);
  }


  :root {
    --grad-1: #eb17eb;
    --grad-2: #dd85dd;
  }
  
  body{

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background: rgba(128, 179, 171, 0);
    
  }

/*ScrollBar Chida

  /* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(179, 72, 72, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #eb17eb; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #eb17eb; 
  }

  .lead{
    width: 90%;
    margin: auto;
    text-align: center;
  }